spring:
  application:
    name: licenses-backend
  jackson:
    deserialization:
      fail-on-unknown-properties: false
    serialization:
      write-dates-as-timestamps: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/licenses?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: licenses
    password: changeit
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
server:
  port: 8080
logging:
  level:
    org.hibernate.SQL: warn

---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
  flyway:
    baseline-on-migrate: true
server:
  port: ${PORT:8080}

